@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Grandstander', cursive;
}

body {
    background-image: url('../assets/background.jpg');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}