.thumb img {
    width: 20%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content .thumb {
    display: flex;
    justify-content: center;
    margin-top: 7em;
}

.content form {
    margin: 20px 0 0;
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.content form input {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 44px;
    padding: 0 15px;
    font-size: 14px;
    color: black;
}

.content form button {
    margin: 10px 0 0;
    background: #0D55FF;
    /* background: #00C9DB; */
    border-radius: 5px;
    height: 44px;
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.content form button:hover {
    /* background: #0D55FF; */
    background: #00C9DB;
    color: black;
    transition: 0.5s;
}