.register-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 6em;
}

.register-content .userInformations {
    margin-top: 15px;
    width: 100%;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.register-content .userInformations input {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 44px;
    padding: 0 15px;
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}

.register-content .userInformations button {
    margin: 10px 0 0;
    background: #0D55FF;
    border-radius: 5px;
    height: 44px;
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.register-content .userInformations button:hover {
    background: #00C9DB;
    color: black;
    transition: 0.5s;
}

.register-content .thumbnail label {
    border: 1px dashed #ddd;
    background-size: contain;
    cursor: pointer;
    height: 200px;
    width: 200px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-content .thumbnail label input {
    display: none;
}

.register-content .thumbnail .has-thumbnail {
    border: 0;
}

.register-content .thumbnail .has-thumbnail  img {
    display: none;
}