.timeline {
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.timeline .header {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.user {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline .header .user .logo {
    margin: 20px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
}

.timeline .header .user .logo img{
    max-width: 100%;
    max-height: 100%;
}

.timeline .header .user .username {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 20px 0;
    font-weight: bold;
    color: white;
    text-align: center;
    max-width: 200px;
}

.timeline .newPost {
    width: 30em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: -25px;
}

.timeline .newPost textarea {
    border: 3px solid #d8e5ed;
    border-radius: 10px;
    font-size: 14px;
    padding: 15px;
    width: 33em;
    height: 8em;
    resize: none;
}

.timeline .newPost .buttonNewPost {
    width: 100%;
}

.timeline .newPost .buttonNewPost button {
    background: #0D55FF;
    border-radius: 10px;
    height: 35px;
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    float: right;
    margin-top: -40px;
    margin-right: 15px;
}

.timeline .newPost .buttonNewPost button:hover {
    background: #00C9DB;
    color: black;
    transition: 0.5s;
}

.tweets {
    margin-top: -20px;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 100;
}