.tweet {
    margin: 15px 0 30px 0;
    border-radius: 30px;
    background-color: white;
    width: 35em;
    height: 10em;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.tweet .options {
    border-radius: 30px;
    background-color: #121214;
    width: 25em;
    height: 2.5em;

    position: absolute;
    top: 85%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}

.tweet .options a {
    cursor: pointer;
    text-decoration: none;
    transition: transform .3s;
}

.tweet .options a:hover {
    transform: scale(1.3);
}

.tweet .tweetContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.tweet .tweetContent .avatar {
    margin: 10px 25px 0 15px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.tweet .tweetContent .avatar img {
    max-width: 100%;
    max-height: 100%;
}

.tweet .tweetContent .text {
    width: 75%;
    margin-top: 15px;
    font-size: 14px;
}

.tweet .tweetContent .text .author {
    font-weight: bold;
}

.tweet .tweetContent .text .postTweet {
    overflow-y: scroll;
    height: 55px;
    text-align: justify;
    margin-top: 10px;
    padding-right: 15px;
}

.tweet .tweetContent .text .information {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.tweet .tweetContent .text .information .likes {
    margin-left: -20px;
}

.tweet .tweetContent .text .information .coments {
    margin-left: 55px;
}

.tweet .tweetContent .text .information .date {
    margin-left: 35px;
}

::-webkit-scrollbar {
    color: transparent;
}

.transition-enter, .transition-appear {
    top: 0;
    width: 0;
    max-height: 5em;
    color: transparent;
    background-color: white;
}

.transition-enter-active, .transition-appear-active {
    top: 45px;
    width: 35em;
    max-height: 15em;
    background-color: white;
    transition: all 500ms;
}

.transition-exit {
    top: 45px;
    width: 35em;
    max-height: 15em;
    background-color: white;
}

.transition-exit-active {
    top: 0;
    width: 0;
    max-height: 5em;
    color: transparent;
    background-color: white;
    transition: all 500ms;
}

/* .options {
    color: white;
} */